
/* Основные стили для контейнера карточек */
.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 60px;
    padding: 20px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 45%;
    max-width: 700px;
    height: auto;
    min-height: 350px;
    background-color: #f1f1f1;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 20px;
}

.card-title {
    font-size: 18px;
    margin: 0 0 10px 0; /* Заголовок всегда сверху */
    color: #0c004f;
}



.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* .card-title {
    font-size: 18px;
    margin: 0;
    color: #0c004f;
} */

/* .card-description {
    font-size: 18px;
    color: #0c004f;
} */
.card-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Выравниваем контент по нижней части */
    flex-grow: 1; /* Занимает оставшееся пространство */
}

.card-description {
    font-size: 18px;
    color: #0c004f;
    margin: 0;
    margin-bottom: 20px; /* Отступ снизу для кнопки */
    transition: transform 0.4s ease;
}
/* При наведении текст приподнимается, а кнопка появляется */


.card:hover .detail-btn {
    display: block; /* Показываем кнопку при наведении */
    margin-top: 10px; /* Отступ для кнопки */
}


.card-logo {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 40px;
    height: auto;
}

.card-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./media/neft.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.2;
    transition: opacity 0.3s ease;
    z-index: 0;
}

.card:hover .card-background {
    opacity: 0.5;
}

/* Основные стили для модального окна */
.modal {
    display: none; /* Скрыто по умолчанию */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-height: 80%;
    overflow-y: auto; /* Прокрутка для длинного контента */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.open-modal-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.open-modal-btn:hover {
    background-color: #0056b3;
}


/* Адаптивность */
@media (max-width: 1024px) {
    .card {
        flex: 1 1 48%; /* Карточки будут занимать 48% ширины при экранах средней ширины */
        min-height: 300px;
    }
}

@media (max-width: 768px) {
    .card {
        flex: 1 1 100%; /* Одна карточка в строке */
        max-width: 500px;
        min-height: 300px; /* Коррекция высоты для маленьких экранов */
    }
}

@media (max-width: 576px) {
    .card {
        width: 100%;
        max-width: 100%;
        min-height: 280px;
        height: auto;
    }
}

/* Скрываем кнопку по умолчанию */
.detail-btn {
    display: none; /* Скрыть кнопку по умолчанию */
    padding: 12px 25px;
    background-color: #034876;
    opacity: 0.5;
    background-image: linear-gradient(45deg, #007bff, #00aaff); /* Градиент */
    color: white;
    font-size: 18px; /* Увеличен шрифт */
    border: none;
    border-radius: 10px; /* Закругленные края */
    cursor: pointer;
    transition: background-color 0.4s ease, transform 0.4s ease, box-shadow 0.4s ease;
    align-self: flex-end; /* Выровнять по правому краю карточки */
    z-index: 5;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Тень */
}

/* Показать кнопку при наведении на карточку */
/* .card:hover .detail-btn {
    display: block; 
} */
.detail-btn:hover {
    background-color: #034876;
    background-image: linear-gradient(45deg, #034876, #007bff);
    transform: translateY(-5px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
    opacity: 1;
}
